{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        {% block title %}
            <title>Массаж на дому | bodyday.ru </title>
            <meta name="description" content="Массаж на дому в москве, массаж лица, антицеллюлитный массаж, отзывы о работе специалистов массажа." >
            <meta name ="keywords" content="массаж на дому, массаж в москве">
        {% endblock %}


        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link href="{% static 'themeBodyDay/css/global.css' %}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" src="{% static 'libraries/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{% static 'libraries/test.js' %}"></script>
        <link rel="stylesheet" href="{% static 'libraries/fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
        <script type="text/javascript" src="{% static 'libraries/fancybox/source/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox();

                $("#popup").fancybox({
                    'padding'           : 0,
                    'width'             : '650px',
                    'height'            : '700px',
                    'autoScale'     	: false,
                    'transitionIn'		: 'none',
                    'transitionOut'		: 'none',
                    'type'				: 'iframe'
	            });

                $('a#hide_show').click(function (e) {
                    $('.hide_form').toggleClass('active');
                    e.preventDefault();
                });

                $('a#hide_show').click(function (e) {
                    $('#hide_show').toggleClass('active');
                    e.preventDefault();
                });
            });
        </script>
        {%  block extrahead %}
        {% endblock %}
        <script type="text/javascript">
            $(function(){
            {% block jquery %}
            {% endblock %}
            });
        </script>
        <meta name='yandex-verification' content='4fba7c3f3c0f51c8' />
    </head>
<body>

    <!--navigation-->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner my_navbar_inner">
            <div class="container">
                <div class="brand my_brand">
                    <img src="{{STATIC_URL}}themeBodyDay/images/logo.png" alt=""/>
                    <div class="brand_right">
                        <a href="{% url 'home' %}">BodyDay.ru</a>
                        <div class="top_slogan">Профессионализм в каждом движении</div>
                    </div>
                </div>
                <div class="top_menu">
                    <div class="phone">
                        <span>8-965-408-38-01</span>
                    </div>
                    <ul class="nav my_nav">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'post:list' %}">Статьи</a></li>
                        <li><a href="{% url 'experts:list' %}">Специалисты</a></li>
                        <li><a class="" href="/review">Отзывы</a></li>
                        <li><a href="{% url 'page:list' %}tseny">цены</a></li>
                        <li><a href="{% url 'page:list' %}kontakty">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--submenu-->
    <div class="top_content">
        <div class="container">
            {% block top_content %}
                <div class="row">
                    <div class="span3"><a id="popup" class="button2" href="/contact">Заказать массаж</a></div>
            {#        <div class="span9 slogan">Профессионализм в каждом движении</div>#}
                    <div class="submenu span9">
                        {% block submenu %}
                            <div class="sub_nav">
                                <span class="sub_nav_first"><a href="{% url 'page:list' %}massazh-na-domu">Массаж на дому</a></span>
                                <span><a href="{% url 'page:list' %}massazh-v-moskve">Массаж в Москве</a></span>
                                <span class="sub_nav_last"><a class="" href="{% url 'page:list' %}manualnaya-terapiya">Мануальная терапия</a></span>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

    <!--header-->
    {% block header %}{% endblock %}

    <!--top content-->
    <div class="white_line">
        <div class="container">
                {% block white_line %}{% endblock %}
        </div>
    </div>

    <!--middle content-->
    <div class="middle_content">
        <div class="container">
            <div class="row">
                {% block middle_content %}{% endblock %}
            </div>
        </div>
    </div>

    <!--content-->
    <div class="container my_container">
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
    </div> <!-- container -->

    {% block white_content %}
    {% endblock %}

    {% block content2 %}
    {% endblock %}

    {% block black_content %}
    {% endblock %}

    {% block content3 %}
    {% endblock %}

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span9">
                            <p>все права защищены @2013</p>
                            <!-- Yandex.Metrika informer -->
                            <a href="http://metrika.yandex.ru/stat/?id=23551498&amp;from=informer"
                            target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23551498/3_0_FFFFFFFF_FFFFFFFF_0_pageviews"
                            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:23551498,lang:'ru'});return false}catch(e){}"/></a>
                            <!-- /Yandex.Metrika informer -->

                            <!-- Yandex.Metrika counter -->
                            <script type="text/javascript">
                            (function (d, w, c) {
                                (w[c] = w[c] || []).push(function() {
                                    try {
                                        w.yaCounter23551498 = new Ya.Metrika({id:23551498,
                                                webvisor:true,
                                                clickmap:true,
                                                trackLinks:true,
                                                accurateTrackBounce:true});
                                    } catch(e) { }
                                });

                                var n = d.getElementsByTagName("script")[0],
                                    s = d.createElement("script"),
                                    f = function () { n.parentNode.insertBefore(s, n); };
                                s.type = "text/javascript";
                                s.async = true;
                                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                if (w.opera == "[object Opera]") {
                                    d.addEventListener("DOMContentLoaded", f, false);
                                } else { f(); }
                            })(document, window, "yandex_metrika_callbacks");
                            </script>
                            <noscript><div><img src="//mc.yandex.ru/watch/23551498" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                            <!-- /Yandex.Metrika counter -->
                        </div>
                        <div class="span3">
                            <a href="http://forward70.ru">Создание сайтов Forward</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <script>#}
{#        jQuery(document).ready(function($) {#}
{#            $(window).scroll(function () {#}
{##}
{#                    var scroll_position= $("#scroll").scrollTop();#}
{#                    if ($(window).scrollTop() > 1000) {#}
{#                        alert('Элемент scroll был прокручен... скроллирован... ну как там это называется то?!');#}
{#                    }#}
{#            });#}
{#        });#}
{#    </script>#}

</body>
</html>