{% extends 'blog/base.html' %}
{% block title %}
    <title>Массаж в Москве {{ post.title }}</title>
{% endblock %}
<!--top content-->
{% block top_content %}
    <div class="row">
        <div class="span3"><a id="popup" class="button2" href="/contact">Оставить заявку</a></div>
        <div class="span9 slogan">Профессионализм в каждом движении</div>
    </div>
{% endblock %}
<!--block content-->
{% block content %}
    <p>{{ post.datetime }}</p>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content|safe }}</p>
{% endblock %}