{% extends 'blog/base.html' %}
{% block title %}
    <title>Массаж на дому | Специалисты по массажу</title>
    <meta name="description" content="Специалисты массажа на дому в Москве, применияемые ими методики и техники, специализация на узких направлениях традиционного и нетрадиционного массажа." >
    <meta name ="keywords" content="специалисты по массажу в Москве, массаж, специалисты, массаж в Москве">
{% endblock %}

<!--content-->
{% block content %}
    <div class="row experts">
        <div class="span12">
            <h1>Специалисты</h1>
            <div class="row">
                <div class="span9">
                    <div class="blog_list">
                        {% for expert in all_experts %}
                            <div class="page_list">
        {#                        <p>{{ expert.datetime }}</p>#}
                                <h2>{{ expert.title }}</h2>
                                <img src="{{ expert.image.url }}">
                                <p>{{ expert.content|removetags:"img"|truncatewords:"45"|safe }}</p>
                                <a class="button2 green" href="{{ expert.get_absolute_url }}">подробнее</a>
                            </div>
                        {% empty %}
                            <p>Нет постов</p>
                        {% endfor %}
                    </div>
                </div>
                <!--sidebar-->
                <div class="span3 sidebar">
                    <h3>Последние статьи</h3>
                    {% for post in post %}
                        <ul>
                            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                        </ul>
                    {% empty %}
                            <p>Нет постов</p>
                    {% endfor %}
                    <h3>Техника</h3>
                    <div class="gallery_list">
                        {% for photo in photo %}
                            {{ photo.get_mini_html|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

