{% extends 'blog/base.html' %}
{% block title %}
    <title>Массаж на дому | Специалист массажа {{ expert.title }}</title>
{% endblock %}
<!--top content-->
{% block top_content %}
    <div class="row">
        <div class="span3"><a id="popup" class="button2" href="/contact">Оставить заявку</a></div>
{#        <div class="span9 slogan">Профессионализм в каждом движении</div>#}
        <div class="submenu span9">
            {% block submenu %}
                <div class="sub_nav">
                    <span class="sub_nav_first"><a href="{% url 'page:list' %}massazh-na-domu">Массаж на дому</a></span>
                    <span><a href="{% url 'page:list' %}massazh-v-moskve">Массаж в Москве</a></span>
                    <span class="sub_nav_last"><a class="" href="{% url 'page:list' %}manualnaya-terapiya">Мануальная терапия</a></span>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
<!--block content-->
{% block content %}
    <div class="row">
        <div class="span9">
            <div class="page_detail">
{#                <p>{{ expert.datetime }}</p>#}
                <h2>{{ expert.title }}</h2>
                <img width="200" class="main_image" src="{{ expert.image.url }}">
                <p class="expert_content">{{ expert.content|safe }}</p>
            </div>
        </div>
        <!--sidebar-->
        <div class="span3 sidebar">
            <h3>Последние статьи</h3>
            {% for post in post_in_page %}
                <ul>
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                </ul>
            {% empty %}
                    <p>Нет постов</p>
            {% endfor %}
            <h3>Техника</h3>
            <div class="gallery_list">
                {% for photo in photo %}
                    {{ photo.get_mini_html|safe }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
