{% extends 'blog/base.html' %}

<!--header-->
{% block header %}
    <div class="page-header my_header">
        <div class="my_header_bg"><img src="{{ STATIC_URL }}themeBodyDay/images/slide_2.jpg"></div>
        <div class="my_header_content">
            <div class="container">
                <div class="header_text">
                    <div class="row">
                        <div class="span9">
                            <div class="header_slogan">
                                <p>Ищите мастера по массажу?</p>
                                <p>Вы на правильном пути!</p>
                                <a class="button" href="/review">Отзывы</a>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="header_img_wrapper">
                                <img src="{{ STATIC_URL }}/media/img/sergei2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block white_line %}
    <div class="white_line">
        <div class="container">
            <div class="row">
                <div class="span12 midle_slogan">
                    <span class="slogan">Сергей Константинович Корябин</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!--middle content-->
{% block middle_content %}
    <div class="span12 slogan_content">
        <h1 class="slogan_h1">Массаж на дому - исцеление начинается здесь</h1>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span7 main_post_padding">
                <div class="row">
                    {% for post in last_posts %}
                        {% if post.post_in_main %}
                            <div class="span2">
                                <img src="{{ post.image.url }}">
                            </div>
                            <div class="span5">
                                <h3>{{ post.title }}</h3>
                                <p class="datetime">{{ post.datetime.date }}</p>
                                <p>{{ post.content|removetags:"img"|truncatewords:"40"|safe }}<p>
                                <a class="button2 green" href="{{ post.get_absolute_url }}">читать</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="span5">
                <div class="main_post_separator sidebar">
                    <h3>Узнайте больше о видах и преимуществах массажа на дому</h3>
                    <ul>
                    {% for post in last_posts %}
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!--content-->
{% block content %}
    <div class="row top_seporator">
        <div class="span12">
            <div class="row">
                {% for page in page_context %}
                    {% if page.page_in_main %}
                        <div class="span4 main_bottom">
                            <img src="{{ page.image.url }}">
                            <h2>{{ page.title }}</h2>
                            <h5 class="page_description">{{ page.description }}</h5>
                            <div class="content">{{ page.content|removetags:"img"|truncatewords:"40"|safe }}</div>
                            <a class="button2 green" href="{{ page.get_absolute_url }}">подробнее</a>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>Нет постов</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock%}

<!--sidebar-->
{#{% block sidebar %}#}
{#    <div class="span3">#}
{#        <h2>Сайдбар</h2>#}
{#        {% for post in last_posts %}#}
{#            <ul>#}
{#            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>#}
{#            </ul>#}
{#        {% empty %}#}
{#                <p>Нет постов</p>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}