{% extends 'blog/base.html' %}
{% block title %}
    <title>Массаж на дому | Статьи</title>
    <meta name="description" content="Статьи о массаже, о том какие обороты принимает массаж в Москве, сколько существует видов массажа на дому, антицеллюлитный массаж, мануальная терапия." >
    <meta name ="keywords" content="массаж в москве, мануальная терапия">
{% endblock %}

{% block top_content %}
    <div class="row">
        <div class="span3"><a id="popup" class="button2" href="/contact">Сделать заказ</a></div>
{#        <div class="span9 slogan">Профессионализм в каждом движении</div>#}
        <div class="submenu span9">
            {% block submenu %}
                <div class="sub_nav">
                    <span class="sub_nav_first"><a href="{% url 'page:list' %}massazh-na-domu">Массаж на дому</a></span>
                    <span><a href="{% url 'page:list' %}massazh-v-moskve">Массаж в Москве</a></span>
                    <span class="sub_nav_last"><a class="" href="{% url 'page:list' %}manualnaya-terapiya">Мануальная терапия</a></span>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

<!--content-->
{% block content %}
    <div class="row list_page">
        <div class="span12">
            <h1>Статьи о массаже</h1>
            <div class="row">
                <div class="span9">
                    <div class="blog_list">
                        {% for post in last_posts %}
                            <div class="post_list">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.datetime.date }}</p>
                                <img src="{{ post.image.url }}">
                                <p>{{ post.content|removetags:"img"|truncatewords:"120"|safe }}</p>
                                <a class="button2 green" href="{{ post.get_absolute_url }}">читать</a>
                            </div>
                        {% empty %}
                            <p>Нет постов</p>
                        {% endfor %}
                    </div>
                    <div class="gallery_list">
                        {% for photo in photo %}
                            {{ photo.get_mini_html|safe }}
                        {% endfor %}
                    </div>
                </div>
                <div class="span3 sidebar">
                    <h3>Последние статьи</h3>
                    {% for post in last_posts %}
                        <ul>
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                        </ul>
                    {% empty %}
                            <p>Нет постов</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock%}
