{% extends 'blog/base.html' %}
{% block title %}
    <title>Массаж на дому | Мануальная терапия</title>
    <meta name="description" content="Профессиональное мполнение мануальной терапии - гарант Вашего долгово здоровья и высокой эффективности. Отзывы о высококлассном манульном терапевте." >
    <meta name ="keywords" content="массаж в москве, массаж на дому, мануальная терапия">
{% endblock %}
{% load comments %}

<!--block content-->
{% block content %}
    <div class="row custom_page manual">
        <div class="span12">
            <h1>Мануальная терапия</h1>

            <div class="row section1">
                <div class="span8">
                    <h2>Кратко о манульной терапии</h2>
                    <div class="block1">
                        <img src="{{ STATIC_URL }}/themeBodyDay/images/manual.jpg" alt="мануальная терапия фото">
                        <p>Мануальная терапия (от manus - рука) - метод лечения заболеваний опорно-двигательного аппарата с помощью непосредственного физического воздействия на тело пациента. В основе мануальной терапии лежат принципы остеопатии. Остеопатия - принцип лечения заболеваний, заключающийся в том, что из-за нарушения анатомии нарушается и функция больного органа. Что это значит?</p>
                        <p>Каждый человек знает, что если сломать ногу, ходить он уже не сможет. Помочь может только физическое восстановление целостности кости. Никакие таблетки перелом не лечат. Допустим, у человека боли в спине из-за смещения позвонков относительно друг друга. Опять-таки, указанные нарушения нормального анатомического соотношения и строения невозможно излечить уколами или другими лекарствами. Единственно возможным способом является физическое воздействие на позвоночный столб в целом, и на смещённый сегмент в частности. Что и делает мануальный терапевт. С помощью точно рассчитанного физического усилия он устраняет смещение позвонков, восстанавливая нормальное их положение. Что это даёт?</p>
                    </div>
                </div>
                <div class="span4">
                    <h2>Заказать массаж</h2>
                    <div class="form_in_page">
{#                        <h2>Заказать массаж</h2>#}
                        <div class="myForm">
                            <form action="." method="post">
                                {% csrf_token %}
                                {{ form.as_ul }}
                                <input id="id_submit" type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="row section2 section">
                <div class="my_h2">Как это происходит</div>
                <div class="span4">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/1.png" alt=""/>
                        </div>
                        <div class="span3">
                            <h4>Возникновение проблемы</h4>
                            <p>Известно, что при возникновении проблем с позвоночником организм пытается компенсировать патологию. Для этого в работу включается группа глубоких мышц спины и позвоночника. Однако на длительную работу они не рассчитаны. По этой причине мышцы быстро утомляются, спазмируются, что приводит к нарушению кровообращения и боли.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/2.png" alt=""/>
                        </div>
                        <div class="span3">
                            <h4>Мануальная терапия</h4>
                            <p>Мануальная терапия позвоночника быстро снимает этот спазм. Кроме этого, мануальная терапия улучшает кровообращение. Восстановление нормальных анатомических отношений позвоночного двигательного сегмента способствует правильному распределению нагрузки, что благоприятно сказывается на общем состоянии.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/3.png" alt=""/>
                        </div>
                        <div class="span3">
                            <h4>Результат</h4>
                            <p>В течени совсем короткого времени функции ваших органов восстановятся и ваша жизнь приобретет совершенно новое качество. Уже через 5 сеансов <strong>мануальной терапии</strong> большинство клиентов возвращаются к эффективной деятельности. Для поддержания этого результата необходимо вести активный образ жизни.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block black_content %}
    <div id="scroll" class="content2_vmoskve">
        <div class="container">
            <div class="row">
                <div class="span12 section">
                    <div class="my_h2">Важно помнить!</div>
                    <p>Если у пациента, к примеру, самые распространённые заболевания позвоночника - остеохондроз и межпозвоночная грыжа мануальная терапия с успехом справляется и с тем и с другим. Однако следует помнить, что любой метод лечения способен как помочь, вылечить заболевание, так и навредить, ухудшить состояние и усилить проявление симптомов. По этой причине нельзя доверять своё здоровье мало знакомым специалистам. Неправильное выполнение процедур мануальной терапии может нанести больше вреда, чем пользы. Поэтому мануальная терапия в Москве и других городах - очень популярная медицинская процедура, при условии выполнения ее квалифицированным медицинским работником.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block white_content %}
    <div class="white_section manual">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
{#                        <div class="span3">#}
{#                            <img src="{{ STATIC_URL }}/media/img/sergei2.jpg">#}
{#                            <a id="popup" class="button2" href="/contact">Заказать массаж</a>#}
{#                        </div>#}
                        <div class="span12 review_manual">
                            <h3>Отзывы о мануальной терапии</h3>
                            <div class="review_item">
                                <img src="/static/media/review_thumb/good.png">
                                <blockquote>
                                    <p>Пришел на первый сеанс с больной спиной. Кроме спины мучала бессонница, головные боли и постоянная слабость. Сергей Константинович на первом же сеансе вернул к жизни. Прошла боль в спине и на следующий день проснулся выспавшийся на 10 минут раньше будильника. К 6 сеансу ушла кривизна спины и сейчас, по прошествии 12 сеансов ощущение, что у меня снова тело 18 летнего парня. Спасибо мастеру за творение!</p>
                                    <footer>Андрей<cite title="Source Title">3 февраля 2014 г.</cite></footer>
                                </blockquote>
                            </div>
                            <div class="review_item">
                                <img src="/static/media/review_thumb/good.png">
                                <blockquote>
                                    <p>Сергей Константинович, я очень рада, что попала на сеанс массажа именно к Вам. Вы действительно владеете секретом мануальной терапии. То, что произошло с моей спиной, не возможно не назвать ЧУДОМ! Как приятно засыпать и просыпаться без болей в позвоночнике (которые длились несколько месяцев). Я счастлива, что доверилась Вашим рукам. Спасибо Вам огромное! Ирина.</p>
                                    <footer>Ирина<cite title="Source Title">7 октября 2012 г</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="link_center">
                            <a id="popup" class="button2" href="/contact">Заказать массаж</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="container recomend">
        <div class="row">
            <div class="my_h2">Некоторые рекомендации:</div>
            <div class="span4 section section2">
                <div class="row">
                    <div class="my_h2">Доверие специалисту</div>
                    <div class="span1">
                        <img src="{{ STATIC_URL }}/themeBodyDay/images/cloud.png" alt=""/>
                    </div>
                    <div class="span3">
                        <p>Мануальная терапия является физическим воздействием на тело. Если во время процедуры вы будете инстинктивно напрягаться, сопротивляться воздействию - эффективность будет ниже. Возможно травмирование. Целью процедуры не является "выжимание" из пациента только щелчков и хруста. Громкость их не является показателем успеха.</p>
                    </div>
                </div>
            </div>
            <div class="span4 section">
                <div class="row">
                    <div class="my_h2">Двигайтесь</div>
                    <div class="span1">
                        <img src="{{ STATIC_URL }}/themeBodyDay/images/bycicle.png" alt=""/>
                    </div>
                    <div class="span3">
                        <p>Массаж, мануальная терапия, физиотерапия и ЛФК вместе - мощнейшее оружие против заболеваний опорно-двигательного аппарата. Но, если после полученного лечения вы будете продолжать вести малоподвижный образ жизни, нагружать позвоночник - эффект будет временный. Метод может привести позвоночный столб в порядок, но закрепить эффект может только пациент в результате простых упражнений.</p>
                    </div>
                </div>
            </div>
            <div class="span4 section">
                <div class="row">
                    <div class="my_h2">Важен формат</div>
                    <div class="span1">
                        <img src="{{ STATIC_URL }}/themeBodyDay/images/home.png" alt=""/>
                    </div>
                    <div class="span3">
                        <p>Лучше получать процедуры мануальной терапии на дому или другом удобном месте, что позволит после лечения немного отдохнуть, чтобы не сразу давать полную нагрузку на позвоночник. Особенно вредно для спины долго сидеть, так как при этом нагрузка на позвоночник может превышать 140% от той, что действует, когда человек просто стоит.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content3 %}
{% endblock %}

