{% extends 'blog/base.html' %}
{% block title %}
    <title>Массаж на дому</title>
    <meta name="description" content="Профессиональный массаж на дому в москве всех видов и направлений для укрепления и восстановления здоровья" >
    <meta name ="keywords" content="массаж в москве, массаж на дому">
{% endblock %}
{% load comments %}

<!--block content-->
{% block content %}
    <div class="row custom_page vmoskve">
        <div class="span12">
            <h1>Массаж на дому</h1>

            <div class="row section1">
                <div class="span4">
                    <div class="block1 center">
                        <div class="my_h2">Когда нужен массаж</div>
                        <p>После трудного дня многие не могут расслабиться, избавиться от забот, связанных с работой. Всем знакомо чувство, когда после насыщенной событиями недели в голове продолжают мелькать отдельные моменты. Зачастую они имеют негативное значение, нервируют. Ко всему прочему досаждают боли в спине, ногах, шее. А уж ноющие боли в ступнях ног испытывали все. Что делать в таких случаях?</p>
                    </div>
                </div>
                <div class="span4">
                    <div class="my_h2">Симптомы усталости</div>
                    <ul>
                        <li>слабость, продолжающаяся длительное время</li>
                        <li>нарушение концентрации</li>
                        <li>боли в суставах и мышцах без опухания и покраснения</li>
                        <li>сон, не приносящий отдыха</li>
                        <li>головные боли</li>
                        <li>сильная усталость и недомогание после небольшого напряжения</li>
                    </ul>
                </div>
                <div class="span4">
                    <h2>Заказать массаж</h2>
                    <div class="form_in_page">
                        <div class="myForm">
                            <form action="." method="post">
                                {% csrf_token %}
                                {{ form.as_ul }}
                                <input id="id_submit" type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{#            <div class="row section3">#}
{#                <h2>Актуальность массажа в Москве</h2>#}
{#                <div class="span12">#}
{#                    <p>Косметический или лечебный массаж отзывы оставляет, как о методе с впечатляющим эффектом. Многие люди не представляют свою жизнь без такого приятного метода лечения, описания которого встречаются даже в древних текстах со всех уголков планеты. Метод описан много веков назад. Еще древние целители Востока считали, что все болезни проникают и покидают тело через кожу. И если недуг смог проникнуть в организм, то массаж поможет справиться с этим.</p>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block white_content %}
    <div class="white_section">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span3">
                            <img class="nadomu" src="{{ STATIC_URL }}/themeBodyDay/images/nadomu2.jpg" alt=""/>
                        </div>
                        <div class="span9">
                            <div class="my_h2">Обычные аргументы для массажа</div>
                            <p>Знающие сразу отвечают на этот вопрос предложением посетить массажный кабинет. Профессиональный массаж от хорошего специалиста в таких ситуациях действительно творит чудеса. Это отличный и эффективный способ снять напряжение и мышечную боль, расслабить нервы, снять усталость.</p>
                            <p>Но, у нас не всегда есть возможность и силы добраться до кабинета специалиста. В таком случае возможен массаж с выездом на дом. Это хорошая альтернатива личного посещения массажиста. Преимущества такого варианта очевидны: не нужно выходить из дома, рисковать вероятным простоем в пробке, нет необходимости ждать своей очереди.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="container">
        <div class="row">
            <div class="span6 section section2">
                <div class="row">
                    <div class="my_h2">Положительный эффект</div>
                    <div class="span1">
                        <img src="{{ STATIC_URL }}/themeBodyDay/images/plus.png" alt=""/>
                    </div>
                    <div class="span5">
                        <p>Один из самых значимых плюсов, которые предлагает массаж на дому, это отсутствие необходимости добираться до дома. После длительного глубокого массажа это настоящее наказание, которое портит всё впечатление от процедуры. Массаж активизирует функцию выделительной системы, которая работает в форсированном режиме для выведения токсинов и продуктов обмена веществ. Он согревает тело, улучшает кровообращение. Расслабляет мышцы, успокаивает нервную систему. Человека клонит в сон, и после массажа несколько часов здорового сна являются частью удовольствия.</p>
                    </div>
                </div>
            </div>
            <div class="span6 section">
                <div class="row">
                    <div class="my_h2">Обратная сторона</div>
                    <div class="span1">
                        <img src="{{ STATIC_URL }}/themeBodyDay/images/minus.png" alt=""/>
                    </div>
                    <div class="span5">
                        <p>Представим обратную картину: после массажа вам необходимо собрать всю волю в кулак, выйти на улицу (хорошо, если лето, а не -30) и добраться до дома. Тут организм начинает подавать сигналы физиологической необходимости, но именно сейчас вы попадаете... да, именно в автомобильную пробку. Эффекты массажа безнадёжно выброшены на обочину.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block black_content %}
    <div class="content2_vmoskve">
        <div class="container">
            <div class="row">
                <div class="span12 section">
                    <div class="my_h2">Краткий совет:</div>
                    <p>Специалисты рекомендуют после сеанса массажа выпить чаю на травах, послушать музыку, расслабиться. Теплая постель будет приятным завершением дня или недели. На следующий день вы будете в образцовом состоянии. Не правда ли, теперь вам всегда будет нужен именно частный массаж на дому.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content3 %}
    <div class="content3_vmoskve">
        <div class="container">
            <div class="row">
                <div class="span12 section">
                    <div class="my_h2">Самомассаж, советы, рекомендации</div>
                    <p>Не менее эффективный вариант процедуры - самомассаж. Однако, в этом случае вам придётся хорошенько потрудиться над собой. Для самостоятельного массажа доступны практически все части тела, за исключением спины. Но, чтобы добраться до труднодоступных мест и снизить физическую нагрузку, можно использовать аппаратный массаж. Качественный вибромассажёр со сменными насадками очень полезная вещь дома и в офисе. Плюс такой процедуры - физическая нагрузка помогает сжечь ненужные калории.</p>
                    <p>Желательно освоить основные приёмы массажа: поглаживание, растирание, разминание, потряхивания и поколачивания.
Правила проведения самомассажа те же: движемся от периферии к центру, последовательно, постепенно. Не нужно перескакивать от головы к ногам. На каждый участок уделяем по 3-5 минут, в зависимости от вашей физической подготовки.</p>
                    <p>Самомассаж - эффективная процедура, как часть ежедневных тренировок или утренней зарядки.</p>
                    <p>Конечно, не стоит сравнивать эстетическое удовлетворение от самомассажа и работу высококлассного профессионала. Особенно, если эта процедура делается у вас дома.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

