{% extends 'blog/base.html' %}
{% block title %}
    <title>Массаж на дому | Массаж в Москве</title>
    <meta name="description" content="Профессиональный массаж в москве всех видов и направлений для укрепления и восстановления здоровья" >
    <meta name ="keywords" content="массаж в москве, массаж на дому">
{% endblock %}
{% load comments %}

<!--block content-->
{% block content %}
    <div class="row custom_page vmoskve">
        <div class="span12">
            <h1>Массаж в Москве</h1>

            <div class="row section1">
                <div class="span8">
                    <div class="block1">
                        <div class="my_h2">Москва закрутила гайки?</div>
                        <img src="{{ STATIC_URL }}/themeBodyDay/images/tiredness.jpg">
                        <p>Жители больших городов следуют стремительному ритму жизни, бурлящей подобно горному потоку. Лавина информации. Негативные, по большей части, эмоции. Стрессы, неврозы, мигрени и невозможность расслабится.
                            Кроме психологического давления городской человек испытывает на себе самые разнообразные вредные факторы: пыль, шум, смог, электромагнитные поля, инфекции, малоподвижный образ жизни, "пустая" пища. Вспомните, когда в последний раз вы испытывали полный покой и релаксацию?</p>
                        <p>Во всём мире люди находятся в поисках способа, способного сохранить здоровье и вылечить недуги, избавить от водоворота мыслей в голове. Процедура массажа является одним из таких способов. По статистике <strong>массаж в Москве</strong> применяют сотни тысяч людей с нервными расстройствами, хроническими болями в спине и шее, головными болями, синдромом офисного работника и другими не менее серьезными патологиями нуждаются в лечении. Именно массаж эффективен в таких случаях, так как заботливые руки специалиста лечат человека как целое, а не как безличный недуг.</p>
                    </div>
                </div>
                <div class="span4">
                    <h2>Заказать массаж</h2>
                    <div class="form_in_page">
{#                        <h2>Заказать массаж</h2>#}
                        <div class="myForm">
                            <form action="." method="post">
                                {% csrf_token %}
                                {{ form.as_ul }}
                                <input id="id_submit" type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="row section2 section">
                <div class="span4">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/ok.png" alt=""/>
                        </div>
                        <div class="span3">
                            <h4>Восстановление</h4>
                            <p>Благодаря массажу всех групп утомленных мышц, улучшается кровообращение, повышается тонс и нормализуется психическое состояние за счет улучшения циркуляции кровообращения.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/ok.png" alt=""/>
                        </div>
                        <div class="span3">
                            <h4>2 дыхание</h4>
                            <p>Доказанно что люди, регулярно уделяющие внимание отдыху и физическому состоянию в несколько раз повышают свою эффективность на работе и за более короткий срок выполняют поставленные задачи.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/ok.png" alt=""/>
                        </div>
                        <div class="span3">
                            <h4>Гармония</h4>
                            <p>Хороший массаж способствует выделению большого колличества энодорфинов, вызывающих состояние счастья. Люди с позитивным мироощущением гораздо быстрее привлекают к себе внимание и достигают успеха.</p>
                        </div>
                    </div>
                </div>
            </div>

{#            <div class="row section3">#}
{#                <h2>Актуальность массажа в Москве</h2>#}
{#                <div class="span12">#}
{#                    <p>Косметический или лечебный массаж отзывы оставляет, как о методе с впечатляющим эффектом. Многие люди не представляют свою жизнь без такого приятного метода лечения, описания которого встречаются даже в древних текстах со всех уголков планеты. Метод описан много веков назад. Еще древние целители Востока считали, что все болезни проникают и покидают тело через кожу. И если недуг смог проникнуть в организм, то массаж поможет справиться с этим.</p>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block content2 %}
{% endblock %}

{% block black_content %}
    <div id="scroll" class="content2_vmoskve">
        <div class="container">
            <div class="row">
                <div class="span12 section">
                    <div class="my_h2">Подробнее о расслабляющем эффекте массажа.</div>
                    <p>О расслабляющем эффекте массажа хотелось бы сказать больше. Благодаря рефлекторному воздействию на биологически активные точки во время массажа стимулируется выработка дофамина и серотонина в головном мозгу. Эти гормоны играют важную роль в процессах мышления, но из-за постоянного стресса их продукция и баланс в центральной нервной системе могут нарушаться. При этом часто развивается депрессия и невроз. Особенно благотворно влияет на настроение массаж в осенне-зимний период. Это много лучше, чем принимать антидепрессанты.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content3 %}
    <div class="content3_vmoskve">
        <div class="container">
            <div class="row">
                <div class="span12 section section1">
                    <h2>Актуальность массажа в Москве</h2>
                    <p>Косметический или лечебный массаж отзывы оставляет, как о методе с впечатляющим эффектом. Многие люди не представляют свою жизнь без такого приятного метода лечения, описания которого встречаются даже в древних текстах со всех уголков планеты. Метод описан много веков назад. Еще древние целители Востока считали, что все болезни проникают и покидают тело через кожу. И если недуг смог проникнуть в организм, то массаж поможет справиться с этим.</p>
                </div>
                <div class="span12 section section2">
                    <div class="row">
                        <h3>Массаж как профилактика заболеваний в Москве</h3>
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/hangouts.png" alt=""/>
                        </div>
                        <div class="span11">
                            <p>Массаж - эффективное средство лечения и профилактики заболеваний опорно-двигательного аппарата. Массаж в москве спины в сочетании с таким методом как мануальная терапия помогает избавиться от симптомов остеохондроза, который является бичом современного человека. Эти симптомы все хорошо знают: боли в шее, головные боли, боли в спине и пояснично-крестцовой области. В запущенных случаях боли начинают отдавать в ноги. Заболевание склонно к прогрессированию и частым рецидивам.</p>
                        </div>
                    </div>
                </div>
                <div class="span12 section">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/heart.png" alt=""/>
                        </div>
                        <div class="span11">
                            <p>Это отличный метод поддержания здоровья и красоты для прекрасного пола. Женщины давно оценили антицеллюлитный массаж, как самое лучшее средство для борьбы с пресловутым эффектом апельсиновой корки. Интенсивное целевое воздействие на подкожные жировые отложения позволяет добиться видимого эффекта уже через несколько сеансов. В комбинации с общим расслабляющим массажем благотворному воздействию подвергается не только тело, но и разум.</p>
                        </div>
                    </div>
                </div>
                <div class="span12 section">
                    <div class="row">
                        <div class="span1">
                            <img src="{{ STATIC_URL }}/themeBodyDay/images/good.png" alt=""/>
                        </div>
                        <div class="span11">
                            <p>Многие знатоки сравнивают массаж с медитацией - состоянием, свободным от тревоги и негативных мыслей. Во время качественного сеанса массажа чувствуется, как заботы и волнения покидают вас. А физическое воздействие на все группы мышц в теле расслабляет как ничто другое. Многие сравнивают этот эффект с полётом или невесомостью. Самостоятельный массаж на дому такого чувства не даст.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

