<!DOCTYPE html>
<html lang="ru">
<head>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href="{{STATIC_URL}}themeBodyDay/css/iframe.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
<body>
    <h1>Отзыв успешно отправлен!</h1>
    <div class="thank_you"><img src="{{ STATIC_URL }}themeBodyDay/images/thank_you2.png"></div>
</body>
</html>