/* my styles */
/*@font-face {*/
/*font-family:'MonoCondensedC';*/
/*src: url('http://shrift.ucoz.ru/Tonkie/MonoCondensedC.otf');*/
/*}*/
/*@font-face {*/
/*font-family:'HeliosThin';*/
/*src: url('http://shrift.ucoz.ru/Tonkie/HeliosThin.otf');*/
/*}*/

body {
    padding-top: 70px;
    background: #e7e8e3;
}

.blog_list img {
    float: left;
    width: auto;
    height: 200px;
    margin-right: 20px;
}

.my_header {
    margin: 0;
    height: 435px;
}

.my_header_bg {
    position: absolute;
    z-index: -1;
}

.my_header_bg img {
    /*opacity: 0.35;*/
    height: 444px;
}

.header_img_wrapper {
    text-align: right;
    padding-top: 66px;
}

.header_slogan {
    background: url("../images/caption.png") repeat;
    padding: 0 20px;
    text-align: center;
    margin: 68px;

}

.header_slogan h4 {
    font-size: 40px;
    font-family: 'Poiret One', serif;
    line-height: 50px;
    padding: 7px 0;
    text-align: center;
}

a.button {
    background: url(../images/caption_button.gif) repeat-x 0% 0%;
    display: inline-block;
    height: 48px;
    margin: 12px 0 11px 0;
    padding: 0 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 0 #b3b79e;
    -moz-box-shadow: 0 2px 0 #b3b79e;
    box-shadow: 0 2px 0 #b3b79e;
    vertical-align: top;
    line-height: 48px;
    font-family: 'Poiret One', serif, serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
a.button:hover {
    background-position: 0% -48px;
}

.submit-preview {
    background: #1D8934;
    display: inline-block;
    height: 33px;
    overflow: hidden;
    margin: 0 0 2px 0;
    padding: 0 15px;
    vertical-align: top;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 0 #b3b79e;
    -moz-box-shadow: 0 2px 0 #b3b79e;
    box-shadow: 0 2px 0 #b3b79e;
    letter-spacing: 1px;
    line-height: 34px;
    font-family: 'Poiret One', serif;
    font-style: normal!important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
}

#id_submit {
    background: #1D8934;
    display: block;
    height: 33px;
    overflow: hidden;
    margin: 0 0 2px 0;
    padding: 0 15px;
    vertical-align: top;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 0 #b3b79e;
    -moz-box-shadow: 0 2px 0 #b3b79e;
    box-shadow: 0 2px 0 #b3b79e;
    letter-spacing: 1px;
    line-height: 34px;
    font-family: 'Poiret One', serif;
    font-style: normal!important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
}

.submit-post {
    background: #1D8934;
    display: inline-block;
    height: 33px;
    overflow: hidden;
    margin: 0 0 2px 0;
    padding: 0 15px;
    vertical-align: top;
    border: none;
    -webkit-border-radius: 4px;
