/* my styles */
/*@font-face {*/
/*font-family:'MonoCondensedC';*/
/*src: url('http://shrift.ucoz.ru/Tonkie/MonoCondensedC.otf');*/
/*}*/
/*@font-face {*/
/*font-family:'HeliosThin';*/
/*src: url('http://shrift.ucoz.ru/Tonkie/HeliosThin.otf');*/
/*}*/

body {
    /*padding-top: 70px;*/
    background: #e7e8e3;
}

.blog_list img {
    float: left;
    width: auto;
    height: 200px;
    margin-right: 20px;
}

.my_header {
    margin: 0;
    height: 435px;
}

.my_header_bg {
    position: absolute;
    z-index: -1;
}

.my_header_bg img {
    /*opacity: 0.35;*/
    height: 444px;
}

.header_img_wrapper {
    text-align: right;
    padding-top: 66px;
}

.header_slogan {
    background: url("../images/caption.png") repeat;
    padding: 0 20px;
    text-align: center;
    margin: 68px;

}
.submit-preview {
    background: #1D8934;
    display: inline-block;
    height: 33px;
    overflow: hidden;
    margin: 0 0 2px 0;
    padding: 0 15px;
    vertical-align: top;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 0 #b3b79e;
    -moz-box-shadow: 0 2px 0 #b3b79e;
    box-shadow: 0 2px 0 #b3b79e;
    letter-spacing: 1px;
    line-height: 34px;
    font-family: 'Poiret One', serif;
    font-style: normal!important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
}

#id_submit {
    background: #D45959;
    display: inline-block;
    height: 33px;
    overflow: hidden;
    margin: 7px 0 2px 0px;
    padding: 0 15px;
    vertical-align: top;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 34px;
    letter-spacing: 1px;
    font-family: 'Poiret One', serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff !important;
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
}
#id_submit:hover {
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
    text-decoration: none;
    background: #26B169;
    color: #fff!important;
}
.submit-post {
    background: #1D8934;
    display: inline-block;
    height: 33px;
    overflow: hidden;
    margin: 0 0 2px 0;
    padding: 0 15px;
    vertical-align: top;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 0 #b3b79e;
    -moz-box-shadow: 0 2px 0 #b3b79e;
    box-shadow: 0 2px 0 #b3b79e;
    letter-spacing: 1px;
    line-height: 34px;
    font-family: 'Poiret One', serif;
    font-style: normal!important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
}

a.button,
a.button2,
a.button2.green {
   background: #D45959;
    display: inline-block;
    height: 33px;
    overflow: hidden;
    margin: 7px 0 2px 0px;
    padding: 0 15px;
    vertical-align: top;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 34px;
    letter-spacing: 1px;
    font-family: 'Poiret One', serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff !important;
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
}

/*a.button2.green {*/
    /*background: #1D8934;*/
    /*-webkit-transition: 2ms;*/
    /*-moz-transition: 2ms;*/
    /*-o-transition: 2ms;*/
    /*transition: 2ms;*/
/*}*/

a.button:hover,
a.button2:hover,
a.button2.green:hover{
    -webkit-transition: 2ms;
    -moz-transition: 2ms;
    -o-transition: 2ms;
    transition: 2ms;
    text-decoration: none;
    background: #26B169;
    color: #fff!important;
}

a.button {
    margin: 19px 0 19px 0;
    padding: 0 22px;
}

/*a.button2.green:hover {*/
    /*background: #2D713C;*/
    /*background-position: 0% -37px;*/
    /*-webkit-box-shadow: 0 2px 0 #b3b79e;*/
    /*-moz-box-shadow: 0 2px 0 #b3b79e;*/
    /*box-shadow: 0 2px 0 #b3b79e;*/
    /*-webkit-transition: 2ms;*/
    /*-moz-transition: 2ms;*/
    /*-o-transition: 2ms;*/
    /*transition: 2ms;*/
    /*text-decoration: none;*/
/*}*/

.review_list a.button2.green {
    float: none;
}

.header_text img {
    background: #e7e8e3;
    border: 3px solid #fff;
    padding: 10px;
    max-height: 261px;
}

.navbar-static-top .navbar-inner.my_navbar_inner {
    background: #353535;
    /*padding:10px 0;*/
    /*opacity: 0.97;*/
}

.my_header_content {
    padding-top: 50px;
}

.nav.my_nav {
    padding:5px 0;
}

.my_nav li a {
    text-transform: uppercase;
    padding: 5px 10px!important;
    font-size: 12px;
}

.my_nav li a:active {
    color: #fff;
}

.brand.my_brand {
    font-size: 25px;
    margin-top: 12px;
}

.my_brand img {
    position: absolute;
    width: 50px;
    top:-15px;
}

.brand_right {
    padding: 0 0 0 60px;
}

.container.my_container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.top_content {
    background: #fff;
    border-bottom: 1px solid #D4D4D4;
    /*padding: 15px 0;*/
}

.midle_slogan {
    text-align: right;
    padding: 5px 0;
}

.slogan {
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
}

.contact a{
    padding: 10px;
    background: #fff;
    border: 1px solid #000;
}

.contact {
}



h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Poiret One';
}
h1 {
    font-size: 40px;
    font-weight: 300;
    background: url(../images/line_hor.gif) repeat-x 0% 100%;
    padding: 0px 0 37px 0;
    margin-bottom: 50px;
}
h1.slogan_h1 {
    background: url(../images/line_hor.gif) repeat-x 0% 100%;
    padding: 35px 0 37px 0;
    margin-bottom: 0px;
}
.review_page h1 {
    margin-bottom: 10px;
}
.review_page .link {
    margin-bottom: 10px;
}
h2 {
    font-family: 'Poiret One';
    line-height: 25px;
    font-size: 30px;
}
.list_page h2,
.experts h2 {
    text-align: left;
}
h3 {
    font-family: 'Poiret One';
    line-height: 25px;
    font-size: 25px;
    text-align: left;
}

h5.page_description {
    margin: 0 0 20px 0;
    line-height: 15px;
    font-family: 'Poiret One', serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #535353;
}
h5 {
    font-size: 20px;
}
.header_slogan p {
    font-size: 40px;
    background: none;
    font-family: 'Poiret One', serif;
    line-height: 50px;
    padding: 7px 0;
    text-align: center;
}
.sidebar a {
    font-style: italic;
    color: #B32424;
    padding: 7px 0;
}

.sidebar a:hover {
    color: #2D2D2D;
    text-decoration: none;
}

.my_navbar_inner a {
    color: #C6C6C6!important;
}

.my_navbar_inner a:hover {
    color: #FFF!important;
    text-decoration: none;
}

.main_post_wrapper {
    background: #fff;
}

.main_post_separator {
    padding-left: 60px;
    padding-top: 30px;
    background: url(../images/line_ver.gif) repeat-y 0%;
    min-height: 470px;
}

.main_post_separator h2 {
    padding-bottom: 30px;
}

.main_post_padding {
    padding-top: 30px;
}

.top_seporator {
    padding-top: 30px;
    background: url(../images/line_hor.gif) top repeat-x;
}

.datetime {
    color:#535353;
}
.main_bottom .content {
    min-height: 165px;
}

.post_list {
    min-height: 270px;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    padding: 50px 40px 80px 40px;
    margin-bottom: 20px;
    background: #fff;
}

.page_list {
    min-height: 320px;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    padding: 50px 40px 20px 40px;
    margin-bottom: 20px;
    background: #fff;
}
.page_detail {
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    padding: 50px 40px 80px 40px;
    margin-bottom: 20px;
    background: #fff;
}
.post_list .button2,
.blog_list .button2 {
    float: right;
}
.page_detail .date {
    text-align: center;
    margin-bottom: 20px;
}
.page_detail img.main_image{
    float: left;
    padding-right: 20px;
}

.fancybox-type-iframe .fancybox-inner{
    width:500px;
    max-height: 500px!important;
}

    /*review*/
.review_list {
    margin-bottom: 40px;
}

a#hide_show {
    cursor: pointer;
}

#hide_show.active {
    background: #506E57;
}

.hide_form {
    display: block;
}

.hide_form.active {
    display: block;
}

.hide_form {
    display: none;
}

.hide_form p {
    margin: 0 20px 0 0;
    /*float: left;*/
}

.hide_form p.submit {
    display: block;
    width: 100%;
}

#id_comment {
    width:690px;
}

input#id_honeypot {
    border-color: red;
}

.review_list #comments {
    margin-left: 30px;
}

#comments .name {
    /*font-size: 20px;*/
    font-weight: bold;
}

.review {
    border:1px solid #D5D5D5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}

/*sub_nav*/
.submenu {
    text-align: right;
}

.submenu a {
    font-size: 14px;
    color: #B32424;
    text-transform: uppercase;
}

.submenu a:hover {
    color: #2D2D2D;
}

.submenu a:hover {
    text-decoration: none;
}

.sub_nav {
    margin: 5px 0;
    padding: 10px 15px;
}

.sub_nav span {
    padding: 7px 10px 7px 13px;
    background: url(../images/line_ver.gif) repeat-y 0%;
}

.sub_nav span.sub_nav_first {
    background: none;
}

/*footer*/
.footer {
    background: #353535;
    padding:18px 0 8px 0;
}

.footer p {
    color: #BEBEBE;
}

.footer a {
    color: #fff;
}

/*white_line*/
.white_line {
    background: #fff;
}

.phone {
    color: #fff;
    text-align: right;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 25px;
}

.top_menu {
    float: right;
}

.top_slogan {
    font-size: 15px;
}
/*темизация страницы массаж в москве*/
.custom_page h2 {
    margin-bottom: 40px;
}
.block1 {
    /*min-height: 300px;*/
}
.block1 img {
    float: left;
    width: 200px;
    margin: 0px 10px;
}
.form_in_page {
    padding: 40px;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 40px;
}
.form_in_page input,
.form_in_page textarea {
    width: 100%;
}
.form_in_page input#id_submit {
    width: 200px;
}
.section1 {
    background: url(../images/line_hor.gif) repeat-x 0% 100%;
}
.vmoskve .section3 {
    margin-bottom: 0;
}
.content2_vmoskve h3,
.content3_vmoskve h3 {
    text-align: center;
}
.content2_vmoskve {
    background: #696969;
    color: #FFFFFF;
}
.content3_vmoskve {
    margin-top: 40px;
}
.content3_vmoskve .section {
    padding: 0 0 40px 0;
}
.section {
    padding: 40px 0;
}
.my_h2 {
    font-family: 'Poiret One';
    line-height: 25px;
    font-size: 30px;
    margin: 10px 0 40px 0;
    font-weight: bold;
    text-align: center;
}